* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    background-color: #ddd;
    /* Should be removed. Only for demonstration */
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}

.thumbnail {
    background-color: aqua;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail:hover {
    background-color: aquamarine;
    color: white;
}

.thumbnail img {
    width: 250px;
    height: 250px;
}